test/test/Debug
test/test/Release
test/test/.vs
test/test/x64

test_connect_server/test/Debug
test_connect_server/test/Release
test_connect_server/test/.vs
test_connect_server/test/x64

SSUClient/Debug
SSUClient/Release
SSUClient/.vs
SSUClient/x64

샘플프로그램/.vs
샘플프로그램/Debug
샘플프로그램/LabProject/Debug
샘플프로그램/LabProject/x64/Debug

Sample/.vs
Sample/x64

SSU_Server/.vs
SSU_Server/SSU_Server/x64
SSU_Server/x64
SSU_Server_Client/.vs
SSU_Server_Client/client_sample/x64
SampleForServer/.vs
SampleForServer/x64
SSU_Server_Dx/.vs
SSU_Server_Dx/SSU_Server/x64

RealServer/.vs
RealServer/Server/x64
RealServer/Server/Release

StressTest/.vs
StressTest/x64
StressTest/dummy_client/x64

SSUServer/.vs
SSUServer/Debug
SSUServer/SSUServer/x64
SSUServer/x64

*.exe
*.pdb
*.user
